/*
 * Start Bootstrap - Landing Page (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
    text-align: center;
}

.section-heading-spacer {
    margin: 30px auto 50px;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 60px 0 0 0;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.btn{
    padding: 15px 0;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    background-color: #006ebf;
    color: #fff;
    font-weight: 600;
    border-bottom: 5px solid #004f8b;
}

.btn:hover,
.btn:active{
    color: #fff;
    background-color: #0090f8;
    border-bottom: 5px solid #004f8b;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.btn:focus{
    color: #fff;
}

.btn-confirm{
    padding: 15px 40px;
}

.dark-layer{
    background-color: rgba(0,0,0,0.3);
}

.global-header{
    font-size: 34px;
    text-align: center;
    margin: 10px 0 20px 0;
    text-transform: uppercase;
}

.cellar-holder{
    overflow: hidden;
}

.cellar-holder .image-holder{
    padding: 0 10px;
    margin: 10px 20px;
}

.cellar-holder .image-holder img{
    max-width:100%;
    max-height:100%;
}

.cellar-holder h2{
    margin: 0;
    width: 100%;
}

.cellar-holder .button-holder{
    display: block;
    padding: 20px 0 40px 0;
}

.cellar-holder .button-holder .btn{
    width: 220px;
}

.gallery .gallery-image{
    cursor: pointer;
    transition: 0.3s;
    padding: 0 !important;
    height: 200px;
    overflow: hidden;
    border: 2px solid #fff;
}

.gallery-image:hover {opacity: 0.7;}


.gallery .gallery-image img{
    width: 100%;
}

/* REMODAL STYLES */

.remodal-bg.with-red-theme.remodal-is-opening,
.remodal-bg.with-red-theme.remodal-is-opened {
    filter: none;
}

.remodal-overlay.with-red-theme {
    background-color: #f44336;
}

.remodal.with-red-theme {
    background: #fff;
}

.remodal .modal-desc{
    font-size: 16px;
}

.bold-border{
    font-weight: normal;
    font-size: 18px;
    padding: 20px;
    border: 4px solid #006ebf;
    overflow: hidden;
}

.block-holder .header{
    display: block;
    overflow: hidden;
}

.block-holder .header .image{
    display: block;
    float: left;
    margin-right: 20px;
}

.block-holder .image-top{
    display: block;
    width: 60px;
    margin: 0 auto;
}

.block-holder p{
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    margin-top: 20px;
}


.block-holder .header .title{
    font-size: 26px;
    display: block;
    line-height: 1.2;
}

.block-holder .content{
    margin-top: 30px;
    font-size: 18px;
    font-weight: normal;
    font-color: #dddd;
}

.block-holder p{
    font-size: 24px;
}

.block-holder .content ul{
    margin-left: 64px;
}

.bst-marger{
    margin-top: 60px;
}

.blue-bold{
    color: #006ebf;
    font-weight: 700;
}

.wide-btn{
    width: 260px;
    padding: 10px;
    display: block;
    overflow: hidden;
    border-radius: 100px;
    border: 1px solid #333;
    margin: 0 auto;
}

.wide-btn img{
    display: block;
    float: left;
    width: 40px;
}

.wide-btn span{
    font-size: 20px;
    margin-left: 15px;
    line-height: 2;
    color: #333;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}