@font-face {
	font-family: Arimo;
	src: url(../fonts/arimo.woff);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Arimo;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
@media (max-width: 1200px){
	html{
		width: 1170px;
	}
	.bhoechie-tab-container{
		padding: 0 !important;
	}
	body{
		font-size: inherit;
	}

	.tabcontent p{
		margin-bottom: 20px;
	}

	.tabcontent h3{
		padding: 20px 0;
		font-weight: 600;
	}

	.tab-block {
		padding: 30px 0;
	}
}

#content-wrapper {
	margin-top: 65px;
}

body{
	overflow: visible;
}

form{
	width: auto;
}
 
#intro { 
	background-image: url(../images/intro_bkg.jpg); 
}

.parallax {
	/*background-attachment: fixed !important;*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#features { 
	position: relative;
}

#pros {
	background-image: url(../images/pros_bg.jpg);
	position: relative;
}
#presents{
	background-image: url(../images/gradient-background-1440x900.jpg);
	position: relative;
}

.black-wrap{
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.white-wrap{
	background: rgba(255,255,255,0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

/*------------------------------------------*/
/*	 Headers
/*------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin-top: 0; 
	margin-bottom: 10px;
}

/*------------------------------------------*/
/*	 Link Setting
/*------------------------------------------*/

a {
	text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

a:hover {
	color: #444;
	text-decoration: none;
}

a:focus {
	color: #f8f8f8;
	outline: none;
	border: none;
	text-decoration: none;
} 

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.titlebar {
	margin-bottom: 40px;
}

.titlebar h1 {
	color: #000;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 5px;
}

.logo {
	overflow: hidden;
	width: 150px;
	height: 55px;
	display: block;
	float: left;
	margin-top: 5px;
}
.logo img{
	width: 100%;
}

.logo-txt{
	display: block;
	height: 55px;
	max-width: 300px;
	float: left;
	margin: 5px 0 0 5px;
	border-left: 1px solid #555;
}

.logo-txt h1{
	margin: 7px 0 0 10px;
	font-size: 18px;
	font-weight: 600;
	color: #333;
}
      
/*------------------------------------------*/
/*	 Navigation Menu    
/*------------------------------------------*/

.small-cb{
	padding: 5px 0 0 0;
	text-align: center;
	display: inline-block;
	float: right;
	margin-left: 20px;
}

.small-cb .number{
	display: block;
	font-size: 18px;
}

.small-cb .btn{
	display: block;
	padding: 5px 20px;
	width: 100%;
	box-shadow: none;
	border-bottom: 3px solid #9c9300 !important;
}

.small-cb .btn:hover{
	display: block;
	padding: 5px 20px;
	width: 100%;
	box-shadow: none;
	border-bottom: 3px solid #111 !important;
}

.all-btn{
	background: url(../images/catalog_btn.png) no-repeat #fff200;
	width: 299px !important;
	height: 80px;
	background-position: 0px 0px;
	display: block;
	width: 80%;
	margin: 20px auto 0;
	text-align: center;
	padding: 20px 20px 25px;
	border-radius: 5px;
	transition: 0s;
}

.all-btn:hover{
	background-position: 0px -80px;
}

.navbar {	
	background-color: #f0f0f0;
	border-bottom: 1px solid #ddd;
}

.navbar-nav > li > a {
	color: #333;	
    display: block;
	padding: 0 10px;
	font-size: 14px;
	font-family: Arimo;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 65px;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.navbar-nav > li > a:hover{
	background: #444;
	color: #fff;
}
.navbar-nav > li > a.selected-nav {
	background: #333;
	color: #fff;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
	margin: 12px 30px 12px 0;
    background-color: none;
	border: 2px solid #444;
}

#intro {
	padding-top: 80px;
	padding-bottom: 80px;
	color: #fff;
} 

/*------------------------------------------*/
/*	  Intro Section Description
/*------------------------------------------*/

#intro_description h1 {
	font-size: 40px;
	margin-bottom: 30px;
	padding: 15px 30px;
	background: rgba(51, 51, 51, 0.9) !important;
}

.intro_feature {
	text-shadow: 0px 2px 10px #000;
	background: rgba(103, 103, 103, 0.6) !important;
	padding: 10px 30px;
}

.intro_feature h4 {
	font-weight: 600;

}

.intro_feature i {
	margin-right: 5px;
}

#intro_form {
	padding-left: 100px;
}

.form_register {
	width: 100%;
	background: #333;
	margin: 0 auto;
    padding: 20px 20px 25px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form_register h2 {
	color: #fff;
	font-weight: bold !important;
	font-family: Arimo;
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.form_register span {
	font-size: 16px;
	text-align: center !important;
	margin-bottom: 10px;
}

@-webkit-keyframes super-rainbow {
	0%   { border: 3px solid #fff200; }
	50%  { border: 3px solid #555555; }
	100% { border: 3px solid #fff200; }
}

.form_register .glowing-yellow{
	animation: super-rainbow 1s infinite linear;
	-webkit-animation: super-rainbow 1s infinite linear;
	-moz-animation: super-rainbow 1s infinite linear;
}

/*------------------------------------------*/
/*	  Register Form Input
/*------------------------------------------*/

.form_register .form-control {
	height: 46px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input[type="text"],
input[type="email"],
textarea {
	color: #444;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.form_register textarea {
	min-height:100px;
}

.form_register input{
}


#montaz {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 1px solid #ddd;
}

#montaz .block-holder{
	height: 560px;
	width: 100%;
	border: 2px solid #555;
	border-radius: 5px;
}

#montaz .block-holder .ppl-block{
	width: 100%;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	background-color: #555;
	padding: 10px 20px;
	text-align: center;
	font-weight: bold;
}

#montaz .block-holder .info-block{
	width: 100%;
	background: #fff200;
	overflow: hidden;
}

#montaz .block-holder .info-block .bl{
	position: relative;
	height: 100px;
	display: block;
	float: left;
	text-transform: uppercase;
	width: 50%;
	text-align: center;
	font-size: 16px;
	margin: 0;
}

#montaz .block-holder .info-block .bl .top,
#montaz .block-holder .info-block .bl .bot{
	display: block;
	height: 50px;
	line-height: 50px;
}

#montaz .block-holder .info-block .bl .line{
	width: 60px;
	height: 1px;
	background: #333;
	margin: 0 auto;
}
#montaz .block-holder .info-block .bl .bot{
	font-size: 22px;
	font-weight: bold;
}

#montaz .block-holder .info-block .bl .bot{

}

#montaz .block-holder .info-block .bl:first-child{
	border-right: 1px solid #333;
}

#montaz .block-holder .content .prices{
	width: 100%;
}

#montaz .block-holder .content img{
	height: 228px;
	display: block;
	margin: 20px auto;
}

#montaz .block-holder .content .prices{
	text-align: center;
	font-size: 24px;
}



#calc {
	padding-top: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

#calc .titlebar {
	margin-bottom: 30px;
}


#shop {
	padding-top: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

#shop .titlebar {
	margin-bottom: 30px;
}

.shop-image{
	width: 215px;
	height: 175px;
	margin: 0 auto;
	overflow: hidden;
}

.shop-image img{
	width: 215px;
}

.product-info{
	margin: 10px 0;
}

.product-info .title,
.product-info .price{
	display: block;
	text-align: center;
}

.product-info .title h1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 500;
}

.product-info .price h1{
	font-size: 24px;
	color: #80ff84;
	background: #333;
	margin: 0 50px;
	padding: 10px 0;
}

.btn-holder{
	position: relative;
	width: 100%;
}

.btn-holder .btn{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#pros {
	padding-top: 60px;
	padding-bottom: 30px;
}

#pros .titlebar h1 {
	color: #fff;
	width: 500px;
	margin: 0 auto;
	padding: 20px;
}


#presents{
	padding-top: 60px;
	padding-bottom: 30px;
}

#presents .titlebar h1{
	color: #fff;
	margin: 0 auto;
	text-shadow: 0px 2px 2px #333;
	margin-top: 20px;
}

.line{
	width: 100px;
	height: 3px;
	background-color: #fff;
	margin: 100px auto 50px;
}

.dark{
	background-color: #000;
}


/* ==========================================================================
   05. TABS
   ========================================================================== */

#tabs {
	padding: 60px 0;
}

/* ==========================================================================
   05. DEMO
   ========================================================================== */

#demo {
	padding: 60px 0;
    padding-bottom: 80px;
    border-top: 1px solid #ddd;
}

.close-modal{
	width: 20px;
	height: 20px;
	background: #555;
	position: absolute;
	top: 5px;
	right: 5px;
}

.close-modal:hover{
	cursor: pointer;
	background: #777;
}

/* ==========================================================================
   05. FEATURES
   ========================================================================== */
 
#features {
	padding-top: 60px;
	padding-bottom: 30px;
}

/*------------------------------------------*/
/*	  Feature Box
/*------------------------------------------*/

.feature-box {
	margin-bottom: 70px;
	padding: 0 5px;
}

/*------------------------------------------*/
/*	  Feature Box Icon
/*------------------------------------------*/

.feature-box-icon {
	background-color: rgba(255,242,0,0.7);
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 75px;
	color: #FFF;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	position: relative;
}

.feature-box-icon img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


/*------------------------------------------*/
/*	  Feature Box Product
/*------------------------------------------*/

.feature-box-product {
	width: 250px;
	height: 250px;
	margin-bottom: 20px;
	margin: 0 auto;
	padding: 40px 0;
	display: block;
	float: left;
	background: rgba(255,255,255,0.5);
}

.feature-box-product img{
	display: block;
	height: 180px;
	margin: 0 auto;
}

/*------------------------------------------*/
/*	  Feature Box Product Content
/*------------------------------------------*/

.feature-box-product-content {
	display: inline-block;
	padding-left: 20px;
	width: 300px;
	height: 250px;
	text-align: left;
	margin: 0 auto;
	text-shadow: 2px 2px 2px #333;
	display: block;
	float: left;
	background: rgba(255,255,255,0.3);
}

.feature-box-product-content h4 {
	margin-top: 30px;
	font-family: Arimo;
	font-weight: 700;
	font-size: 28px;
	color: #fff;
}

.feature-box-product-content .btn-holder{
	text-shadow: none;
	margin-top: 30px
}

.feature-box-product-content .btn-holder .btn{
	position: inherit;
	left: auto;
	transform: translateX(0);
}


/*------------------------------------------*/
/*	  Feature Box Content
/*------------------------------------------*/

.feature-box-content {
	padding: 20px;
	margin: 30px 0 0 0;
	width: 300px;
	height: 150px;
	text-align: center;
	margin: 0 auto;
	text-shadow: 2px 2px 2px #333;
}

.feature-box-content h4 {
	font-family: Arimo;
	font-weight: 700;
	font-size: 28px;
	color: #FFFA97;
}

#clients {
	padding-top: 60px;
	padding-bottom: 80px;
	border-top: 1px solid #ddd;
}

#shop-intro {
	padding-top: 60px;
	padding-bottom: 80px;
	border-top: 1px solid #ddd;
}

#clients-titlebar {
	position: relative;
}

#contacts-header {
	padding-top: 60px;
	padding-bottom: 50px;
}

#contacts-footer {
	padding-top: 60px;
	padding-bottom: 50px;
}

#contacts-header .address{
	font-size: 24px;
	text-align: center;
	padding: 10px 0px 10px 40px;
	display: block;
	width: 520px;
	margin: 0 auto;
	background: url(../images/location.png) no-repeat;
	background-size: 32px;
	background-position: 0px 12px;
}

#contacts-footer .msg{
	font-size: 24px;
	text-align: right;
}


#footer {
	background-color: #1A1E23;
	padding: 60px 0 40px;
}   
#footer_copy p {
	color: #666;
	font-size: 13px;
	font-family: Arimo;
	margin-left: 10px;
}

.cert{
	width: 260px;
	height: auto;
	background-color: rgba(255,255,255,0.3);
	padding: 20px;
	display: inline-block;
	margin-left: 20px;
}

.cert img{
	width: 220px;
	margin: 0 auto;
}

.centered{
	margin: 0 10px;
	display: block;
}

.btn,
.btn2{
	background: -webkit-linear-gradient(#fff200, #b4b400); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff200, #b4b400); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff200, #b4b400); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff200, #b4b400); /* Standard syntax */
	background: #fff200;
	color: #333;
	font-weight: bold;
	border: 1px solid #fff200;
	padding: 10px 30px;
	font-size: 16px;
	border-radius: 5px;
	border-bottom: 3px solid #b6ae00;

	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	box-shadow: 0px 1px 5px #555;
}

.btn2:hover{
	background: #dadada;
	color: #333;
	border: 1px solid #dadada;
	border-bottom: 3px solid #777;
}

.btn-big{
	padding: 20px 0;
	width: 400px;
	margin: 0 auto;
	display: block;
}

.btn:hover {
	background: #333;
	color: #fff;
	border: 1px solid #333;
	border-bottom: 3px solid #111;
}

.orange-big{
	font-size: 24px;
	padding: 13px 80px;
	box-shadow: 0px 2px 2px #555;
}

.btn-red{
	background: #ff2828 !important;
	color: #fff;
	text-shadow: 0px 1px 2px #1A1E23;
	border: 1px solid #ff2828;
	border-bottom: 5px solid #8d1616;
}

.btn-red:hover{
	background: #ff7b76 !important;
	color: #fff;
	text-shadow: 0px 1px 2px #1A1E23;
	border: 1px solid #ff7b76;
	border-bottom: 5px solid #a14d4a;
}

.map #map {
	width: 100%;
	height: 500px;
}

.vid{
	position: relative;
	width: 55%;
	float: left;
}

.shemsa{
	float: left;
	width: 45%;
}

.shemsa .post{
	padding: 10px 20px;
}


.tock{
	position: absolute;
	opacity: 0.8;
	width: 40px;
	z-index: 99;
	height: 40px;
	background-color: #fff;
	color: #ffe300;
	font-size: 29px;
	line-height: 32px;
	text-align: center;
	border-radius: 50%;
	border: 3px solid #ffe300;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
	text-shadow: 0px 1px 2px #333;
}

.tock:hover{
	background-color: #D9CE00;
	color: #fff;
	border: 3px solid #fff;
}

.st1{
	top: 350px;
	left: 100px;
}

.st2{
	top: 320px;
	left: 300px;
}

.st3{
	top: 360px;
	left: 400px;
}

.st4{
	top: 440px;
	left: 400px;
}

.qty {
	height: 50px;
	width: 50px;
	text-align: center;
	overflow: hidden;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
}

.calculator{
	width: 300px;
	margin: 0 auto;
}

.fleft{
	float: left;
	margin-left: 20px;
}

.fright{
	float: right;
	margin-right: 20px;
}

.calculator .calculator-icon{
	display: block;
	width: 84px;
	margin: 0 auto;
}

.calculator h1{
	font-size: 20px;
	text-align: center;
	height: 50px;
	display: block;
	font-weight: 600;
	color: #333;
	margin: 20px 0;
}
.qtyplus, .qtyminus{
	background-color: #fff200;
	border: 1px solid #fff200;
	width: 60px;
	height: 50px;
	font-weight: 600;
	font-size: 28px;
	margin: 0;
}

.qtyplus:focus, .qtyminus:focus{outline:0;}

.qtyplus:hover, .qtyminus:hover{
	background-color: #333;
	color: #fff;
	border: 1px solid #333;
}

.qtyplus{
	border-radius: 0 10px 10px 0;
}

.qtyminus{
	border-radius: 10px 0 0 10px;
}

input[type=checkbox] {
	visibility: hidden;
}

.tab-block img.onefourth{
	width: 250px;
}

.tab-block img.onesixth{
	width: 160px;
}

input[type="checkbox"].toggle {
	display: none;
}

input[type="checkbox"].toggle:checked + label {

	cursor: default;
	color: #E6E6E6;
	border-color: transparent;
	text-shadow: 0 1px 1px rgba(40, 40, 40, 0.75);
	background: #333;
}

.rd-buttons-three, .rd-buttons-four{
	margin: 20px auto;
	width: 610px;
}

.rd-buttons-three .header, .rd-buttons-four .header{
	text-align: center;
	width: 100%;
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 600;
}

input[type="checkbox"].toggle + label {
	width: 200px;
}

.rd-buttons-four .small{
	width: 149px !important;
}
input[type="checkbox"].toggle:checked + label.btn:hover {
	background-color: #333;
	background-position: 0 0;
	-webkit-transition: none;
	-moz-trainsition: none;
	transition: none;
	cursor: pointer;
}

.btn-thin{
	border: 2px solid #fff200;
	background: #fff;
	color: #333;
}

input[type="checkbox"].toggle2 {
	display: none;
}

input[type="checkbox"].toggle2:checked + label {

	cursor: default;
	color: #E6E6E6;
	border-color: transparent;
	text-shadow: 0 1px 1px rgba(40, 40, 40, 0.75);
	background: #333;
}

input[type="checkbox"].toggle2 + label {
	width: 200px;
}

input[type="checkbox"].toggle2:checked + label.btn:hover {
	background-color: #333;
	background-position: 0 0;
	-webkit-transition: none;
	-moz-trainsition: none;
	transition: none;
	cursor: pointer;
}

#sucess-modal{
	display: none;
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(43, 46, 56, 0.9);
}

#sucess-modal #s-msg{
	display: none;
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 50px;
	background: #baffc7;
}

#sucess-modal #s-msg p{
	color: #007c10;
	font-size: 36px;
}

#error-modal{
	display: none;
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(43, 46, 56, 0.9);
}

#error-modal #er-msg{
	display: none;
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 50px;
	background: #ffeccb;
}

#error-modal #er-msg p{
	color: #980000;
	font-size: 36px;
}

#error-modal #er-msg .p-small{
	color: #980000;
	font-size: 22px;
	text-align: center;
}

#s-close, #er-close{
	width: 200px;
	margin: 0 auto;
	font-size: 16px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	display: none;
	padding: 10px 30px;
}

#s-close{
	background: #007c10 !important;
}

#er-close{
	background: #980000 !important;
}

#s-close:hover, #er-close:hover{
	background: #7c7b7c !important;
	cursor: pointer;
}

.hovered{
	background: #fff200;
	box-shadow: 0px 2px 2px #555;
	border-radius: 5px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.shown{
	display: block !important;
}

.errshown{
	display: block !important;
}

.darker{
	background-color: #f3f3f3;
}


/* TAB STYLES */

ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #fff200;
}

ul.tab li {float: left; width: 33.333%; height: 70px}
ul.tab li a {
	width: 100%;
	height: 100%;
	display: inline-block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
	font-weight: 600;
	line-height: 2.5;
}
ul.tab li a:hover {
	background-color: #333;
	cursor: pointer;
	color: #fff;
}
ul.tab li a:focus, .active {
	background-color: #ccc;
}
.tabcontent {
	display: none;
	padding: 20px;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #fff;
}

.tab-block{
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
}

.tab-block ul li{
	display: inline-block;
	margin-left: 15px;
}

.tab-block ul li:first-child{
	margin-left: 30px;
}

/*  bhoechie tab */
.bhoechie-tab{
	border-left: 3px solid #35a23e;
}

div.bhoechie-tab-container{
	z-index: 10;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 50px;
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
	margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
	margin-bottom: 0;
	margin-bottom: 10px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
	color: #333;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
	background-color: #35a23e;
	color: #fff;
	text-shadow: 0px 1px 2px #333;
	font-weight: bold;
	border-bottom: 5px solid #226226 !important;
	margin-bottom: 10px;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -23px;
	border-left: 0;
	border-bottom: 23px solid transparent;
	border-top: 23px solid transparent;
	border-left: 30px solid #35a23e;
}

div.bhoechie-tab-content{
	background-color: #ffffff;
	padding-left: 20px;
	padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
	display: none;
}

.list-group-item {
	padding: 30px 10px;
	font-size: 22px;
}

.list-group-item.active{
	border: 1px solid #35a23e !important;
}

/* Septik window design */

#form1 #title{
	margin-bottom: 20px;
	font-weight: 600;
}

#form1 #title h1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#form1 #image{
	margin-right: 10px;
	width: 215px;
	height: 175px;
}

#form1 .info,
#form1 #price{
	width: 100%;
	text-align: left;
}

#form1 .info .values{
	color: #007c10;
}

#form1 .info ul{
	margin-top: 20px;
}

#form1 .info ul li {
	font-weight: 600;
	margin-top: 10px;
}

#form1 #price{
	display: block;
	margin-top: 20px;
}

#form1 #price h3{
	text-align: center;

}
#form1 #price h2{
	background: #e8ffe7;
	padding: 10px 20px;
	display: block;
	font-size: 26px !important;
	font-weight: 600;
	text-align: center;
	border: 1px solid #555;
}

#form1 #price h2 span{
	color: #007c10;
}

#form1 .description{
	margin: 10px 0;
	text-align: left;
	font-size: 14px;
}

#form1 .description h1{
	font-size: 16px;
	margin: 0 0 5px 0;
	padding: 0;
	font-weight: 600;
}

.submodels{
	margin-top: 20px;
}

.submodels .modal-septik-button{
	background: #fff200;
	border: 1px solid #fff200;
	border-bottom: 3px solid #9c9300;
	border-radius: 5px;
	padding: 5px 20px;
	font-weight: 600;
	color: #333;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	transition: .5s;
}

.submodels .modal-septik-button:focus {outline:0;}

.submodels .modal-septik-button:hover{
	background: #333;
	border: 1px solid #333;
	border-bottom: 3px solid #111;
	color: #fff;
}

.big-window-title{
	color: #333 !important;
	font-size: 24px !important;
	margin: 20px 0;
}

.big-window-text{
	width: 30% !important;
}

.big-window-confirm{
	width: 150px;
	margin: -3px 0 0 0;
	height: 50px;
}


@-webkit-keyframes super-rainbow-second {
	0%   { background-color: #fff200; }
	50%  { background-color: #dddddd; }
	100% { background-color: #fff200; }
}

.glowing{
	animation: super-rainbow-second 1s infinite linear;
	-webkit-animation: super-rainbow-second 1s infinite linear;
	-moz-animation: super-rainbow-second 1s infinite linear;
}